.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

/* Asegura que el header no desborde el ancho de la pantalla */
header {
  width: 100%;
  overflow-x: hidden;
}

/* Asegura que el contenedor principal tenga un comportamiento de scroll adecuado */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  overflow-x: hidden;
}